.bar {
  background: tomato;
  color: #000000;
  height: 8vh;
}

.controls-above {
  background: grey;
  height: 8vh;
}

.wings {
  background: grey;
}

.central {
  background: honeydew;
  height: 76vh;
}
.box-groups {
  background: yellowgreen;
}
.box-urls {
  background: red;
}
.overY {
  overflow-y: scroll !important;
  overflow-x: hidden;
  max-height: 76vh;
}

.controls-below {
  background: grey;
  height: 8vh;
}
